* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

:root {
	--primary-Color: linear-gradient(to right, #36d1dc, #5b86e5);
}

body {
	background: #ebf5ee !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	font-weight: bold !important;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	font-weight: bold !important;
	margin-bottom: 1.5em;
}

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

ul {
	margin: 0 !important;
}

/* NAVBAR */
.nav-container {
	width: 100%;
	background: var(--primary-Color);
	color: #ebf5ee;
}

.navbar,
.menubar {
	position: relative;
	display: block;
	padding: 1rem 0;
	width: 100%;
}

.navbar {
	display: grid !important;
	grid-template-areas: 'logo search user cart';
	grid-template-columns: 150px 1fr 200px 50px;
	gap: 10px;
	justify-items: center;
	align-items: center;
}

.navbar svg {
	font-size: 2rem;
}

.nav-logo {
	grid-area: logo;
	justify-self: start;
}

.navbar a {
	text-decoration: none !important;
	color: #ebf5ee;
	display: flex;
	align-items: center;
}

.navbar a:hover {
	color: #022b3a;
}

.navbar a > span {
	font-size: 2rem;
	letter-spacing: 2px;
	margin-left: 10px;
}

.nav-search {
	grid-area: search;
	width: 100%;
	height: 80%;
	position: relative;
	display: flex;
}

.nav-search input[type='text'] {
	flex-grow: 1;
	border: 3px solid #ebf5ee;
	padding: 5px;
	background: #ebf5ee;
	outline: none;
	border-radius: 8px 0 0 8px;
	border-right: none;
	font-size: 1rem;
}

.nav-search button {
	border: 3px solid #d3dddc;
	background: #d3dddc;
	padding: 0 1em;
	border-radius: 0 8px 8px 0;
	border-left: none;
	cursor: pointer;
}

.nav-search button:hover {
	background: #c4cfce;
	border: 3px solid #c4cfce;
	border-left: none;
}

.nav-search span svg {
	font-size: 1.2rem;
}

.nav-user {
	position: relative;
	grid-area: user;
}

.nav-user:hover {
	color: #022b3a;
}

.nav-user:hover > .user-menu,
.dropdown-menu:hover .user-menu {
	display: block;
}

.user-info {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.user-info > div {
	margin-left: 5px;
}

.user-info h4 {
	margin: 0;
}

.user-info span {
	display: inline-block;
	font-size: 0.8rem;
}

.user-menu {
	display: none;
}

.dropdown-menu {
	cursor: default;
	position: absolute;
	top: 50px;
	left: 0;
	width: 200px;
	height: auto;
	background: white;
	padding: 0 1.2em !important;
	z-index: 1;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: display 500ms ease-in;
}

.dropdown-menu::before {
	content: '';
	position: absolute;
	top: -14px;
	left: 20px;
	height: 14px;
	width: 14px;
	background: white;
	transform: rotate(45deg) translateY(10px);
}
.dropdown-menu::after {
	content: '';
	position: absolute;
	display: inline-block;
	top: -15px;
	left: 0;
	width: 100%;
	height: 15px;
	background: transparent;
}

.dropdown-menu ul {
	color: black;
	list-style: none;
}
.dropdown-menu li {
	margin: 1.2em 0;
	cursor: pointer;
}

.dropdown-menu li:hover {
	text-decoration: underline;
}

.nav-cart {
	grid-area: cart;
}

.nav-cart a {
	position: relative;
}

.nav-cart span {
	position: absolute;
	top: -5px;
	left: 10px;
	font-size: 14px !important;
	line-height: 16px;
	background: #dc143c;
	padding: 0 3px;
	border-radius: 2px;
}

.menubar {
	padding: 0 !important;
}

.menubar > .nav-search {
	display: none;
}

.menubar > ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

.menubar li {
	position: relative;
	cursor: pointer;
	padding: 1.2rem 1.2em;
	font-weight: 600;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.menubar span::after {
	content: '';
	position: absolute;
	color: #022b3a;
	left: 0;
	bottom: 10px;
	width: 100%;
	height: 2px;
	background: currentColor;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.menubar li:hover > span,
.menubar li:hover a {
	color: #022b3a;
}

.menubar li:hover > span::after {
	transform: scaleX(1);
}

.menubar a {
	text-decoration: none !important;
	color: #ebf5ee;
	transition: color 250ms ease-in-out;
}

.menu-man:hover > .product-menu,
.menu-woman:hover > .product-menu {
	display: flex;
}

.product-menu {
	top: 100%;
	margin: 0 !important;
	border: none !important;
	display: none;
	justify-content: space-between;
	width: 600px;
	z-index: 9999;
	padding: 1.2rem;
	border-radius: 0 0 8px 8px !important;
}

.product-menu ul {
	display: flex;
	flex-direction: column;
}

.product-menu li {
	font-weight: lighter;
	margin: 8px 0 !important;
}

.product-menu h4 {
	font-weight: bold !important;
	margin-bottom: 0.4rem;
}

.product-menu a {
	text-transform: capitalize;
}

.nav-mobile {
	grid-area: mobile;
	display: none;
}

.MuiDrawer-paper {
	background: linear-gradient(to top, #36d1dc, #5b86e5);
	color: #ebf5ee !important;
}

.MuiDrawer-root svg {
	color: #ebf5ee;
}

@media screen and (max-width: 1000px) {
	body {
		padding-top: 124px;
	}

	.nav-container {
		position: fixed;
		top: 0;
		height: auto;
		width: 100%;
		z-index: 1000;
	}

	nav .container {
		padding: 0 !important;
	}
	.navbar {
		grid-template-areas: 'mobile logo cart';
		grid-template-columns: 1fr 5fr 1fr;
	}

	.nav-mobile {
		display: block;
	}

	.nav-logo {
		justify-self: center;
	}

	.nav-search {
		display: none;
	}

	.nav-search input[type='text'] {
		font-size: 1rem;
	}

	.nav-user {
		display: none;
	}

	.menubar > ul {
		display: none;
	}

	.menubar > .nav-search {
		display: flex;
		padding-bottom: 10px;
	}

	.MuiPaper-root .nav-user {
		display: flex;
		justify-content: center;
		padding: 20px 0;
	}

	.MuiDivider-root {
		background: #ebf5ee !important;
	}

	.MuiPaper-root a {
		color: #ebf5ee;
		text-decoration: none;
		font-size: 1.2rem;
	}

	.MuiListItem-root + .MuiListItem-root {
		padding-top: 1rem;
	}

	.user-info svg {
		width: 50px;
		height: 50px;
	}
}
/* end of navbar*/

/* FOOTER */
.site-footer {
	background: var(--primary-Color);
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #ebf5ee;
}
.site-footer hr {
	border-top-color: #ebf5ee;
	opacity: 0.5;
}
.site-footer hr.small {
	margin: 20px 0;
}
.site-footer h6 {
	color: #ebf5ee;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 5px;
	letter-spacing: 2px;
}
.site-footer a {
	color: #ebf5ee;
}
.site-footer a:hover {
	color: #ebf5ee;
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none;
}
.footer-links li {
	display: block;
}
.footer-links a {
	color: #ebf5ee;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: #ebf5ee;
	filter: brightness(80%);
	text-decoration: none;
}
.footer-links.inline li {
	display: inline-block;
}
.site-footer .social-icons {
	text-align: right;
}
.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #ebf5ee;
}
.copyright-text {
	margin: 0;
}
@media (max-width: 991px) {
	.site-footer [class^='col-'] {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center;
	}
}
.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.social-icons li {
	display: inline-block;
	margin-bottom: 4px;
}
.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px;
}
.social-icons a {
	background-color: #eceeef;
	color: #5b86e5;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: #fff;
	background-color: #29aafe;
}
.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px;
}
.social-icons a.facebook:hover {
	background-color: #3b5998;
}
.social-icons a.twitter:hover {
	background-color: #00aced;
}
.social-icons a.linkedin:hover {
	background-color: #007bb6;
}
.social-icons a.dribbble:hover {
	background-color: #ea4c89;
}
@media (max-width: 767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600;
	}
}
/* end of footer */

/* BANNER */
.carousel {
	padding: 0 !important;
}

.carousel-item img {
	height: calc(100vh - 130px);
}

.carousel-indicators li {
	background-color: #022b3a !important;
	height: 5px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #022b3a !important;
	background-size: 50% 50% !important;
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
}

@media screen and (max-width: 500px) {
	.carousel-item img {
		height: 25vh;
	}
}
/* end of banner */

/* TITLE*/
.section-title {
	text-align: center;
	margin-bottom: 5em;
}

.section-title a {
	text-decoration: none !important;
	color: black;
}

.section-title a:hover {
	color: black;
}

.section-title h4 {
	position: relative;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0;
}

.section-title h4::first-letter {
	text-transform: uppercase;
}

.section-title p {
	font-size: 0.9rem;
}

.section-title h4::before {
	content: '';
	position: absolute;
	margin: 0 auto;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	width: 230px;
	height: 4px;
	background: var(--primary-Color);
}

.page-title {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 3em;
}

.page-title h4 {
	position: relative;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0;
}

.page-title h4::first-letter {
	text-transform: uppercase;
}

.page-title h4::before {
	content: '';
	position: absolute;
	margin: 0 auto;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 230px;
	height: 4px;
	background: var(--primary-Color);
}
/* end of title*/

/* FEATURE PRODUCTS */
.featured-products {
	padding: 3rem 0;
}

.featured-products-container {
	margin: 0 auto;
	width: 80vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	column-gap: 40px;
	row-gap: 2rem;
}
/* end of feature products*/

/* PRODUCTS LIST */
.products-list-container {
	margin: 0 auto;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	column-gap: 40px;
	row-gap: 2rem;
}
/* end of productsList*/

/* Category */
.filter-widget {
	margin-bottom: 50px;
}

.filter-widget .fw-title {
	font-size: 18px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.fw-color-choose,
.fw-size-choose {
	border-bottom: 2px solid #ebebeb;
	padding-bottom: 40px;
	margin-bottom: 50px;
}

.fw-color-choose .cs-item {
	display: inline-block;
	position: relative;
	margin-right: 14px;
}

.fw-color-choose .cs-item:last-child {
	margin-right: 0;
}

.fw-color-choose label {
	width: 26px;
	height: 26px;
	border-radius: 50px;
	background: #333;
	position: relative;
	cursor: pointer;
}

.fw-color-choose label.cs-gray {
	background: #d7d7d7;
}

.fw-color-choose label.cs-orange {
	background: #6f91ff;
}

.fw-color-choose label.cs-yollow {
	background: #6f91ff;
}

.fw-color-choose label.cs-green {
	background: #8fc99c;
}

.fw-color-choose label.cs-purple {
	background: #bc83b1;
}

.fw-color-choose label.cs-blue {
	background: #9ee7f4;
}

.fw-color-choose label span {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45px;
	font-size: 11px;
	color: #414141;
}

.fw-color-choose input[type='radio'] {
	visibility: hidden;
	position: absolute;
}

.fw-color-choose input[type='radio']:checked + label {
	-webkit-box-shadow: 0 0 0 2px #f51167;
	box-shadow: 0 0 0 2px #f51167;
}

.fw-color-choose input[type='radio']:checked + label span {
	color: #b09d81;
}

.fw-size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.fw-size-choose label {
	display: inline-block;
	height: 30px;
	min-width: 30px;
	text-align: center;
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	cursor: pointer;
	border-radius: 50px;
	padding: 7px 6px 0;
}

.fw-size-choose input[type='radio'] {
	visibility: hidden;
	position: absolute;
}

.fw-size-choose input[type='radio']:checked + label {
	background: #f51167;
	color: #fff;
}

.dropbtn,
.dropbtn:hover,
.dropbtn:active,
.dropbtn:visited,
.dropbtn:focus {
	all: unset;
	border: none;
	padding: 10px 16px;
	cursor: pointer;
}

.dropbtn-a,
.dropbtn-a:hover,
.dropbtn-a:active,
.dropbtn-a:visited,
.dropbtn-a:focus {
	all: unset;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: block;
	background-color: none;
	min-width: 160px;
}
.dropdown-content a:hover,
.dropdown-content a:active,
.dropdown-content a:visited,
.dropdown-content a:focus {
	text-decoration: none;
}
.dropdown-content a {
	all: unset;
	color: black;
	padding: 5px 35px;
	text-decoration: none;
	display: block;
}

/* enf og category */

/* PRODUCT CARD */

.card {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-image {
	position: relative;
	margin-bottom: 10px;
}

.card-image img {
	width: 100%;
	height: auto;
}

.card-image-overlay {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: opacity 250ms ease-in;
}

.btn-groups {
	padding-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	bottom: -50px;
	opacity: 0;
	transition: bottom 500ms ease-out, opacity 250ms ease-in;
}

.btn-buy {
	background-color: #ef6461 !important;
	color: #ebf5ee !important;
}

.btn-buy:hover {
	background-color: #c75351 !important;
}

.card:hover .btn-groups {
	opacity: 1;
	bottom: 0;
}

.card-info h6,
.card-info p {
	z-index: 1;
	text-align: center;
}

.card-info h6 {
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.card-info h6 > a {
	text-decoration: none;
	color: black;
}

.card-info h6 > a:hover {
	color: #5b86e5;
}
/* end of product card*/

/* Product Modal */

.product-modal {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1em;
}

.modal-image img {
	width: 15vw;
	height: auto;
}

/* end of product modal*/

/* Breadcrumb */
.MuiBreadcrumbs-li > a {
	color: black;
}

.MuiBreadcrumbs-li > a:hover {
	color: #5b86e5;
	text-decoration: none;
}

.MuiBreadcrumbs-li > p {
	color: #8f8f8f;
}

/* end of breadcrumb */

/* SINGLE PRODUCT*/
.single-product {
	margin: 1rem 0 3rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
	width: 100% !important;
	background: white;
	padding: 2em;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.single-product-images {
	display: grid;
	grid-template-columns: auto 1fr;
}

.single-product-images img {
	cursor: pointer;
	width: 100%;
	height: auto;
}

.main-image {
	margin-inline-end: 5px;
}

.main-image img {
	max-width: 400px;
	height: 620px;
	margin-inline-end: 10px;
}

.sub-images {
	display: grid;
	grid-template-columns: 60px;
	grid-template-rows: repeat(auto-fit, auto);
	align-content: flex-end;
	row-gap: 5px;
}

.img-selected {
	border: 1px solid #022b3a;
}

.single-product-info > h3 {
	letter-spacing: 2px;
	margin-bottom: 1.2em;
	font-weight: 400;
}

.single-product-info > h6 {
	letter-spacing: 2px;
	margin-bottom: 1.2em;
	font-weight: 600;
}

.single-product-info pre {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-size,
.product-color {
	margin-block-start: 1em;
}

.product-size h4 {
	margin-bottom: 0;
}

.product-size-groups {
	display: flex;
	flex-wrap: wrap;
}

.product-size-groups label {
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.product-size-groups input[type='radio'] {
	position: absolute;
	width: 0;
	height: 0;
	left: -99999px;
}

.product-size-groups input + span {
	display: inline-block;
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	min-width: 38px;
	min-height: 38px;
	margin-inline-end: 5px;
	padding: 0.45em 0.5em;
	text-align: center;
	border-radius: 6px;
	background: #e2e2e2;
	transition: background 250ms ease-out;
}

.product-size-groups input:hover + span {
	background: #cccccc;
}

.product-size-groups input:checked + span {
	background: #5b86e5;
	color: #ebf5ee;
}

.product-color h4 {
	margin-bottom: 0;
}

.product-color-groups {
	display: flex;
	flex-wrap: wrap;
}

.product-color-groups label {
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.product-color-groups input[type='radio'] {
	position: absolute;
	width: 0;
	height: 0;
	left: -99999px;
}

.product-color-groups input + span {
	display: inline-block;
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-inline-end: 5px;
	background-clip: content-box;
	padding: 4px;
	text-align: center;
}

.product-color-groups input + span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	border: 2px solid currentColor;
	opacity: 0.2;
	border-radius: 50%;
	transition: border 250ms ease-in, opacity 250 ease-in;
}

.product-color-groups input:hover + span::before {
	opacity: 0.4;
}

.product-color-groups input:checked + span::before {
	opacity: 1;
	border: 3px solid #5b86e5;
}

.product-buttons {
	margin-block-start: 1.5em;
	display: grid;
	grid-template-rows: 48px;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

@media screen and (max-width: 1000px) {
	.single-product {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		padding: 0.8em;
	}

	.single-product-images {
		grid-template-columns: 1fr;
		margin-block-end: 2em;
	}

	.single-product-images img {
		width: 100%;
	}

	.main-image {
		margin-block-end: 10px;
	}

	.sub-images {
		grid-template-rows: auto;
		grid-template-columns: repeat(auto-fit, 60px);
		column-gap: 10px;
	}

	.product-buttons {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 52px);
		row-gap: 10px;
	}
}

/* end of single product*/

/* Cart*/

.cart {
	margin-block-end: 2em;
}

.cart-item + .cart-item {
	margin-top: 10px;
}

.cart-item a {
	color: black;
}

.cart-item a:hover {
	text-decoration: none;
	color: #5b86e5;
}

.cart-image {
	height: 110px;
}

.cart-col-1,
.cart-col-2 {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.cart-col-1 {
	background: white;
	margin-bottom: 1em;
	padding: 0.8em 1em;
}

.delete-product-in-cart {
	text-align: center;
	margin-top: 5px;
}

.delete-product-in-cart button {
	background: white;
	border: none;
}

.delete-product-in-cart button:hover {
	color: #ef6461;
}

.cart-col-2 {
	background: white;
	margin-bottom: 3em;
	padding: 20px 5px;
}

.cart-col-2 p {
	text-align: right;
}

.cart-col-2 span {
	text-align: left;
}

.cart-check-out button {
	width: 100%;
}

.input-group .cart-button {
	width: 38px;
}

.input-group input {
	text-align: center;
}

.emty-cart {
	background: white;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.emty-cart-image {
	width: 300px;
}

@media screen and (max-width: 800px) {
	.cart-col-1 + button {
		margin-block-end: 10px;
	}
}

/* End of Cart*/

/* Checkout */
.checkout {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 2em;
	margin-bottom: 3em;
}

@media screen and (max-width: 1000px) {
	.checkout {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		row-gap: 3em;
	}

	.checkout-mobile-first {
		grid-template-areas:
			'info'
			'form';
	}

	.checkout-mobile-last {
		grid-template-areas:
			'form'
			'info';
	}

	.info-panel {
		grid-area: form;
		margin-inline-start: -15px;
		margin-inline-end: -15px;
	}

	.detail-panel {
		grid-area: info;
	}

	.detail-panel > .cart-col-2 {
		margin-bottom: 1em;
	}
}

.info-header {
	background-color: #5b86e5 !important;
}

.info-header p {
	color: #ebf5ee;
	font-size: 1.2rem;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-weight: 600;
}

.info-header svg {
	color: #ebf5ee;
}

.address-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1em;
}

@media screen and (max-width: 1000px) {
	.address-form {
		grid-template-columns: 1fr;
	}
}

.payment-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	padding: 0.7em 1.2em;
	border: 1px solid #022b3a;
	border-radius: 8px;
}

@media screen and (max-width: 1000px) {
	.payment-form {
		grid-template-columns: 1fr;
	}
}

.date-format {
	display: inline-block;
	font-size: 0.8rem !important;
	color: #5b86e5;
	filter: brightness(50%);
}

.date-format > span {
	text-transform: capitalize;
}

.shipping-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr minmax(2fr, 1fr);
	column-gap: 1em;
}

.shipping-gift {
	grid-column: 1/3;
	margin-block-end: 1em;
}

@media screen and (max-width: 1000px) {
	.shipping-form {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr minmax(2fr, 1fr) minmax(2fr, 1fr);
		row-gap: 1em;
	}

	.shipping-gift {
		grid-column: auto;
	}
}

.detail-cart {
	background-color: white;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.detail-cart-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 1em;
	background: #5b86e5;
}

.detail-cart-header h5,
.detail-cart-header a {
	color: white;
}

.detail-cart-header a:hover {
	color: #022b3a;
}

.detail-cart-header > .row {
	align-items: center;
	vertical-align: middle;
}

.detail-cart-list {
	padding: 1.2em;
}

.small-card {
	display: flex;
	flex-direction: row;
}

.small-card + .small-card {
	margin-block-start: 0.7em;
}

.small-card-image > img {
	width: 100px;
	height: auto;
}

.small-card-info {
	width: 100%;
	padding: 0.8em 1em;
	background-color: #ebebeb;
	border-left: none;
}

.small-card-info > h6 {
	font-size: 0.9rem;
	margin-block-end: 3px;
}

.small-card-info > p {
	font-size: 0.9rem;
	margin: 0;
}
/* end of checkout */

/* Error */
.error {
	margin: 2em;
}
/* end of error */



/*products*/
.filter-widget {
	margin-bottom: 50px;
  }
  
  .filter-widget .fw-title {
	font-size: 18px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 25px;
  }
  
  .fw-color-choose,
  .fw-size-choose {
	border-bottom: 2px solid #ebebeb;
	padding-bottom: 40px;
	margin-bottom: 50px;
  }
  
  .fw-color-choose .cs-item {
	display: inline-block;
	position: relative;
	margin-right: 14px;
  }
  
  .fw-color-choose .cs-item:last-child {
	margin-right: 0;
  }
  
  .fw-color-choose label {
	width: 26px;
	height: 26px;
	border-radius: 50px;
	background: #333;
	position: relative;
	cursor: pointer;
  }
  
  .fw-color-choose label.cs-gray {
	background: #d7d7d7;
  }
  
  .fw-color-choose label.cs-orange {
	background: #6f91ff;
  }
  
  .fw-color-choose label.cs-yollow {
	background: #6f91ff;
  }
  
  .fw-color-choose label.cs-green {
	background: #8fc99c;
  }
  
  .fw-color-choose label.cs-purple {
	background: #bc83b1;
  }
  
  .fw-color-choose label.cs-blue {
	background: #9ee7f4;
  }
  
  .fw-color-choose label span {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45px;
	font-size: 11px;
	color: #414141;
  }
  
  .fw-color-choose input[type='radio'] {
	visibility: hidden;
	position: absolute;
  }
  
  .fw-color-choose input[type='radio']:checked + label {
	-webkit-box-shadow: 0 0 0 2px #f51167;
	box-shadow: 0 0 0 2px #f51167;
  }
  
  .fw-color-choose input[type='radio']:checked + label span {
	color: #b09d81;
  }
  
  .fw-size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
  }
  
  .fw-size-choose label {
	display: inline-block;
	height: 30px;
	min-width: 30px;
	text-align: center;
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	cursor: pointer;
	border-radius: 50px;
	padding: 7px 6px 0;
  }
  
  .fw-size-choose input[type='radio'] {
	visibility: hidden;
	position: absolute;
  }
  
  .fw-size-choose input[type='radio']:checked + label {
	background: #f51167;
	color: #fff;
  }
  
  .dropbtn,
  .dropbtn:hover,
  .dropbtn:active,
  .dropbtn:visited,
  .dropbtn:focus {
	all: unset;
	border: none;
	padding: 10px 16px;
	cursor: pointer;
  }
  
  .dropbtn-a,
  .dropbtn-a:hover,
  .dropbtn-a:active,
  .dropbtn-a:visited,
  .dropbtn-a:focus {
	all: unset;
	border: none;
	cursor: pointer;
  }
  
  .dropdown-content {
	display: block;
	background-color: none;
	min-width: 160px;
  }
  .dropdown-content a:hover,
  .dropdown-content a:active,
  .dropdown-content a:visited,
  .dropdown-content a:focus {
	text-decoration: none;
  }
  .dropdown-content a {
	all: unset;
	color: black;
	padding: 5px 35px;
	text-decoration: none;
	display: block;
  }
/*end products*/  