* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

:root {
	--primary-Color: linear-gradient(to right, #36d1dc, #5b86e5);
}

body {
	background: #ebf5ee !important;
	font-family: 'Roboto', sans-serif !important;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

ul {
	margin: 0 !important;
}

/* NAVBAR */
.nav-container {
	width: 100%;
	background: var(--primary-Color);
	color: #ebf5ee;
}

.navbar,
.menubar {
	position: relative;
	display: block;
	padding: 1rem 0;
	width: 100%;
}

.navbar {
	display: grid !important;
	grid-template-areas: 'logo search user cart';
	grid-template-columns: 150px 1fr 200px 50px;
	gap: 10px;
	justify-items: center;
	align-items: center;
}

.navbar svg {
	font-size: 2rem;
}

.nav-logo {
	grid-area: logo;
	justify-self: start;
}

.navbar a {
	text-decoration: none !important;
	color: #ebf5ee;
	display: flex;
	align-items: center;
}

.navbar a:hover {
	color: #022b3a;
}

.navbar a > span {
	font-size: 2rem;
	letter-spacing: 2px;
	margin-left: 10px;
}

.nav-search {
	grid-area: search;
	width: 100%;
	height: 80%;
	position: relative;
	display: flex;
}

.nav-search input[type='text'] {
	flex-grow: 1;
	border: 3px solid #ebf5ee;
	padding: 5px;
	background: #ebf5ee;
	outline: none;
	border-radius: 8px 0 0 8px;
	border-right: none;
	font-size: 1rem;
}

.nav-search button {
	border: 3px solid #d3dddc;
	background: #d3dddc;
	padding: 0 1em;
	border-radius: 0 8px 8px 0;
	border-left: none;
	cursor: pointer;
}

.nav-search button:hover {
	background: #c4cfce;
	border: 3px solid #c4cfce;
	border-left: none;
}

.nav-search span svg {
	font-size: 1.2rem;
}

.nav-user {
	position: relative;
	grid-area: user;
}

.nav-user:hover {
	color: #022b3a;
}

.nav-user:hover > .user-menu,
.dropdown-menu:hover .user-menu {
	display: block;
}

.user-info {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.user-info > div {
	margin-left: 5px;
}

.user-info h4 {
	margin: 0;
}

.user-info span {
	display: inline-block;
	font-size: 0.8rem;
}

.user-menu {
	display: none;
}

.dropdown-menu {
	cursor: default;
	position: absolute;
	top: 50px;
	left: 0;
	width: 200px;
	height: auto;
	background: white;
	padding: 0 1.2em !important;
	z-index: 1;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: display 500ms ease-in;
}

.dropdown-menu::before {
	content: '';
	position: absolute;
	top: -14px;
	left: 20px;
	height: 14px;
	width: 14px;
	background: white;
	transform: rotate(45deg) translateY(10px);
}
.dropdown-menu::after {
	content: '';
	position: absolute;
	display: inline-block;
	top: -15px;
	left: 0;
	width: 100%;
	height: 15px;
	background: transparent;
}

.dropdown-menu ul {
	color: black;
	list-style: none;
}
.dropdown-menu li {
	margin: 1.2em 0;
	cursor: pointer;
}

.dropdown-menu li:hover {
	text-decoration: underline;
}

.nav-cart {
	grid-area: cart;
}

.nav-cart a {
	position: relative;
}

.nav-cart span {
	position: absolute;
	top: -5px;
	left: 10px;
	font-size: 14px !important;
	line-height: 16px;
	background: #dc143c;
	padding: 0 3px;
	border-radius: 2px;
}

.menubar {
	padding: 0 !important;
}

.menubar > .nav-search {
	display: none;
}

.menubar > ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

.menubar li {
	position: relative;
	cursor: pointer;
	padding: 1.2rem 1.2em;
	font-weight: 600;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.menubar span::after {
	content: '';
	position: absolute;
	color: #022b3a;
	left: 0;
	bottom: 10px;
	width: 100%;
	height: 2px;
	background: currentColor;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.menubar li:hover > span,
.menubar li:hover a {
	color: #022b3a;
}

.menubar li:hover > span::after {
	transform: scaleX(1);
}

.menubar a {
	text-decoration: none !important;
	color: #ebf5ee;
	transition: color 250ms ease-in-out;
}

.menu-man:hover > .product-menu,
.menu-woman:hover > .product-menu {
	display: flex;
}

.product-menu {
	top: 100%;
	margin: 0 !important;
	border: none !important;
	display: none;
	justify-content: space-between;
	width: 600px;
	padding: 1.2rem;
	border-radius: 0 0 8px 8px !important;
}

.product-menu ul {
	display: flex;
	flex-direction: column;
}

.product-menu li {
	font-weight: lighter;
	margin: 8px 0 !important;
}

.product-menu h4 {
	font-weight: bold !important;
	margin-bottom: 0.4rem;
}

.product-menu a {
	text-transform: capitalize;
}

.nav-mobile {
	grid-area: mobile;
	display: none;
}

.MuiPaper-root {
	background: linear-gradient(to top, #36d1dc, #5b86e5);
	color: #ebf5ee !important;
}

.MuiPaper-root svg {
	color: #ebf5ee;
}

@media screen and (max-width: 1000px) {
	body {
		padding-top: 124px;
	}

	.nav-container {
		position: fixed;
		top: 0;
		height: auto;
		width: 100%;
		z-index: 1000;
	}

	nav .container {
		padding: 0 !important;
	}
	.navbar {
		grid-template-areas: 'mobile logo cart';
		grid-template-columns: 1fr 5fr 1fr;
	}

	.nav-mobile {
		display: block;
	}

	.nav-logo {
		justify-self: center;
	}

	.nav-search {
		display: none;
	}

	.nav-search input[type='text'] {
		font-size: 1rem;
	}

	.nav-user {
		display: none;
	}

	.menubar > ul {
		display: none;
	}

	.menubar > .nav-search {
		display: flex;
		padding-bottom: 10px;
	}

	.MuiPaper-root .nav-user {
		display: flex;
		justify-content: center;
		padding: 20px 0;
	}

	.MuiDivider-root {
		background: #ebf5ee !important;
	}

	.MuiPaper-root a {
		color: #ebf5ee;
		text-decoration: none;
		font-size: 1.2rem;
	}

	.MuiListItem-root + .MuiListItem-root {
		padding-top: 1rem;
	}

	.user-info svg {
		width: 50px;
		height: 50px;
	}
}
/* end of navbar*/

/* FOOTER */
.site-footer {
	background: var(--primary-Color);
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #022b3a;
}
.site-footer hr {
	border-top-color: #022b3a;
	opacity: 0.5;
}
.site-footer hr.small {
	margin: 20px 0;
}
.site-footer h6 {
	color: #022b3a;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 5px;
	letter-spacing: 2px;
}
.site-footer a {
	color: #022b3a;
}
.site-footer a:hover {
	color: #ebf5ee;
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none;
}
.footer-links li {
	display: block;
}
.footer-links a {
	color: #022b3a;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: #ebf5ee;
	text-decoration: none;
}
.footer-links.inline li {
	display: inline-block;
}
.site-footer .social-icons {
	text-align: right;
}
.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #022b3a;
}
.copyright-text {
	margin: 0;
}
@media (max-width: 991px) {
	.site-footer [class^='col-'] {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center;
	}
}
.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.social-icons li {
	display: inline-block;
	margin-bottom: 4px;
}
.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px;
}
.social-icons a {
	background-color: #eceeef;
	color: #5b86e5;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: #fff;
	background-color: #29aafe;
}
.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px;
}
.social-icons a.facebook:hover {
	background-color: #3b5998;
}
.social-icons a.twitter:hover {
	background-color: #00aced;
}
.social-icons a.linkedin:hover {
	background-color: #007bb6;
}
.social-icons a.dribbble:hover {
	background-color: #ea4c89;
}
@media (max-width: 767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600;
	}
}
/* end of footer */

/* BANNER */
.carousel {
	padding: 0 !important;
}

.carousel-item img {
	height: calc(100vh - 130px);
}

.carousel-indicators li {
	background-color: #022b3a !important;
	height: 5px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #022b3a !important;
	background-size: 50% 50% !important;
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
}

@media screen and (max-width: 500px) {
	.carousel-item img {
		height: 25vh;
	}
}
/* end of banner */

/* TITLE*/
.section-title {
	text-align: center;
	margin-bottom: 5em;
}

.section-title a {
	text-decoration: none !important;
	color: black;
}

.section-title a:hover {
	color: black;
}

.section-title h4 {
	position: relative;
	text-transform: capitalize;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0;
}

.section-title p {
	font-size: 0.9rem;
}

.section-title h4::before {
	content: '';
	position: absolute;
	margin: 0 auto;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	width: 230px;
	height: 4px;
	background: var(--primary-Color);
}
/* end of title*/

/* FEATURE PRODUCTS */
.featured-products {
	padding: 3rem 0;
}

.featured-products-container {
	margin: 0 auto;
	width: 80vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	column-gap: 40px;
	row-gap: 2rem;
}
/* end of feature products*/

/* PRODUCT CARD */

.card {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-image {
	position: relative;
	margin-bottom: 10px;
}

.card-image img {
	width: 100%;
	height: auto;
}

.card-image-overlay {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: opacity 250ms ease-in;
}

.btn-groups {
	padding-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	bottom: -50px;
	opacity: 0;
	transition: bottom 500ms ease-out, opacity 250ms ease-in;
}

.btn-buy {
	background-color: #ef6461 !important;
	color: #ebf5ee !important;
}

.btn-buy:hover {
	background-color: #c75351 !important;
}

.card:hover .btn-groups {
	opacity: 1;
	bottom: 0;
}

.card-info h6,
.card-info p {
	z-index: 1;
	text-align: center;
}

.card-info h6 > a {
	text-decoration: none;
	color: black;
}

.card-info h6 > a:hover {
	color: #5b86e5;
}
/* end of product card*/

/* Breadcrumb */
.MuiBreadcrumbs-li > a {
	color: black;
}

.MuiBreadcrumbs-li > a:hover {
	color: #5b86e5;
	text-decoration: none;
}

.MuiBreadcrumbs-li > p {
	color: #8f8f8f;
}

/* end of breadcrumb */

/* SINGLE PRODUCT*/
.single-product {
	margin: 1rem 0 3rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
	width: 100% !important;
	background: white;
	padding: 2em;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.single-product-images {
	display: grid;
	grid-template-columns: auto 1fr;
}

.single-product-images img {
	cursor: pointer;
	width: 100%;
	height: auto;
}

.main-image {
	margin-inline-end: 5px;
}

.main-image img {
	margin-inline-end: 10px;
}

.sub-images {
	display: grid;
	grid-template-columns: 60px;
	grid-template-rows: repeat(auto-fit, auto);
	align-content: flex-end;
	row-gap: 5px;
}

.sub-images img {
	border: 1px solid #ececec;
}

.single-product-info > h4 {
	letter-spacing: 2px;
	margin-bottom: 1.2em;
	font-weight: 400;
}

.single-product-info > h3 {
	letter-spacing: 2px;
	margin-bottom: 1.2em;
	font-weight: 600;
}

.product-size,
.product-color {
	margin-block-start: 1em;
}

.product-size h4 {
	margin-bottom: 0;
}

.product-size-groups {
	display: flex;
}

.product-size-groups label {
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.product-size-groups input[type='radio'] {
	position: absolute;
	width: 0;
	height: 0;
	left: -99999px;
}

.product-size-groups input + span {
	display: inline-block;
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	min-width: 38px;
	min-height: 38px;
	margin-inline-end: 5px;
	padding: 0.45em 0.5em;
	text-align: center;
	border-radius: 6px;
	background: #e2e2e2;
	transition: background 250ms ease-out;
}

.product-size-groups input:hover + span {
	background: #cccccc;
}

.product-size-groups input:checked + span {
	background: #5b86e5;
	color: #ebf5ee;
}

.product-color h4 {
	margin-bottom: 0;
}

.product-color-groups {
	display: flex;
}

.product-color-groups label {
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.product-color-groups input[type='radio'] {
	position: absolute;
	width: 0;
	height: 0;
	left: -99999px;
}

.product-color-groups input + span {
	display: inline-block;
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-inline-end: 5px;
	background-clip: content-box;
	padding: 4px;
	text-align: center;
}

.product-color-groups input + span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	border: 2px solid currentColor;
	opacity: 0.2;
	border-radius: 50%;
	transition: border 250ms ease-in, opacity 250 ease-in;
}

.product-color-groups input:hover + span::before {
	opacity: 0.4;
}

.product-color-groups input:checked + span::before {
	opacity: 1;
	border: 3px solid #5b86e5;
}

.product-buttons {
	margin-block-start: 1.5em;
	display: grid;
	grid-template-rows: 48px;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

@media screen and (max-width: 1000px) {
	.single-product {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		padding: 0.8em;
	}

	.single-product-images {
		grid-template-columns: 1fr;
		margin-block-end: 2em;
	}

	.single-product-images img {
		width: 100%;
	}

	.main-image {
		margin-block-end: 10px;
	}

	.sub-images {
		grid-template-rows: auto;
		grid-template-columns: repeat(auto-fit, 60px);
		column-gap: 10px;
	}

	.product-buttons {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 52px);
		row-gap: 10px;
	}
}

/* end of single product*/
